{
	"branches": [
		"+([0-9])?(.{+([0-9]),x}).x",
		"master",
    {
      "name": "develop",
      "prerelease": "qa"
    }
	],
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		[
			"@semantic-release/changelog",
			{
				"changelogFile": "docs/CHANGELOG.md"
			}
		],
		"@semantic-release/npm",
		[
			"@semantic-release/git",
			{
				"assets": [
					"lib/**/*.*",
          "ios/**/*.*",
          "android/**/*.*",
					"docs/CHANGELOG.md",
					"package.json"
				]
			}
		],
		"@semantic-release/github"
	]
}
