<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>COLU QA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb800294393431311</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>bundle_identifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>colunewcities</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>150</string>
	<key>FacebookAppID</key>
	<string>800294393431311</string>
	<key>FacebookDisplayName</key>
	<string>Colu</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true />
	<key>ITSAppUsesNonExemptEncryption</key>
	<false />
	<key>LSApplicationCategoryType</key>
	<string />
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>telprompt</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true />
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true />
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>"Colu" will use the camera for document and facial capture</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location is used to find businesses and events near you and improve location searches.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is used to find businesses and events near you and improve location searches.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to find businesses and events near you and improve location searches.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>"Colu" will use the microphone for video capture</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>"Colu" will use your photo library to allow you to update your photo on your profile</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>GothamSSm-Light.otf</string>
		<string>GothamSSm-Medium.otf</string>
		<string>GothamSSm-Bold.otf</string>
		<string>GothamSSm-Book.otf</string>
		<string>GothamSSm-Black.otf</string>
		<string>Gotham-Black.otf</string>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true />
	<key>firebase_crashlytics_collection_enabled</key>
	<false />
</dict>
</plist>
